h1 {
    width:800px;
    line-height: 160%;
    font-size: 160%;
    color: white;
    background-color: navy;
    font-weight: 900;
    text-align: center;
    margin: auto;
    padding: auto;
}

h2 {
    width:800px;
    font-size: 100%;
    color: white;
    background-color: rgb(240, 5, 5);
    font-weight: 900;
    text-align: center;
    margin: auto;
    padding: auto;
}

h3 {
    width:800px;
    font-size: 50%;
    text-align: center;
    margin: auto;
    padding: auto;
}

p {
    font-size: 200%;
    background-color: rgb(255, 111, 0);
}




.slot {
    background-color: cornflowerblue;
    float: left;
    width: calc(100%/3);
    height: 13cm;
    font-size: 200px;
}

.game {
    background-color: cornflowerblue;
    translate: translate(50px, 20px);
    margin: 0 auto;
    width: 800px;
    height: 400px;
    text-align: center;
}

#start {
    background-color: black;
    color: white;
    transform: translate(-350px, 350px);
    width: 10%;
    height: 50%;
    font-size: 20px;
}

#stop0 {
    background-color: red;
    transform: translate(0px, -100px);
    width: 70%;
    height: 10%;
    font-size: 20px;
}

#stop1 {
    background-color: red;
    transform: translate(0px, -100px);
    width: 70%;
    height: 10%;
    font-size: 20px;
}

#stop2 {
    background-color: red;
    transform: translate(0px, -100px);
    width: 70%;
    height: 10%;
    font-size: 20px;
}

#reset {
    transform: translate(0%, 75%);
    text-align: center;
    background-color: fuchsia;
    width: 25%;
}

footer{
    transform: translate(0%,300%);
    width:800px;
    height:20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin:auto;
}
